@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudPopoverProvider />

<div class="page">
    <MudAppBar Color="Color.Dark" Fixed="true">
        <MudElement HtmlTag="div">
            <MudText Typo="Typo.h6">
                <span class="text-purple-500 font-bold" style="font-family: 'Nothing You Could Do', cursive;">B</span>
                ryan Sanchez | Sr. Dev
            </MudText>
        </MudElement>
        <MudSpacer />
        <MudButtonGroup Variant="Variant.Filled">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                           Href="https://github.com/HeadshotCR"
                           Target="_blank"
                           Color="Color.Inherit" />
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn"
                           Href="https://www.linkedin.com/in/bryan-sanchez-ortiz/"
                           Target="_blank"
                           Color="Color.Inherit" />
            <MudIconButton Icon="@Icons.Custom.Brands.WhatsApp"
                           Href="https://wa.link/z4iq31"
                           Target="_blank"
                           Color="Color.Inherit" />
        </MudButtonGroup>
        <MudToggleIconButton @bind-Toggled="_isDarkMode"
                             Icon="@Icons.Material.Filled.DarkMode"
                             Color="@Color.Inherit"
                             ToggledIcon="@Icons.Material.Filled.LightMode"
                             ToggledColor="@Color.Inherit" />
    </MudAppBar>
    <MudMainContent>
        <MudContainer Fixed="true" Class="mb-5">
            @Body
        </MudContainer>
        <MudElement HtmlTag="footer" Class="bg-white align-end pa-5">
            <MudGrid Justify="Justify.FlexStart" Spacing="0">
                <MudItem lg="4" Style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                    <MudText Align="Align.Start" Typo="Typo.h3" Style="color: var(--mud-palette-black)">
                        Let's keep in <span class="text-purple-500 font-bold"
                                            style="font-family: 'Nothing You Could Do', cursive;">touch!</span>
                    </MudText>
                    <MudText Align="Align.Start" Typo="Typo.subtitle1" Style="color: var(--mud-palette-black)">
                        Find me on any of these platforms, I'll respond in 1-2 business days.
                    </MudText>
                </MudItem>
                <MudItem lg="4">
                    <MudButtonGroup Variant="Variant.Text" Class="d-flex justify-center">
                        <MudButton StartIcon="@Icons.Custom.Brands.GitHub"
                                   Href="https://github.com/HeadshotCR"
                                   Target="_blank"
                                   Size="Size.Large"
                                   IconSize="Size.Large"
                                   IconColor="Color.Primary">
                            <MudText Typo="Typo.subtitle1" Style="color: var(--mud-palette-black)">
                                GitHub
                            </MudText>
                        </MudButton>
                        <MudButton StartIcon="@Icons.Custom.Brands.LinkedIn"
                                   Href="https://www.linkedin.com/in/bryan-sanchez-ortiz/"
                                   Target="_blank"
                                   Size="Size.Large"
                                   IconSize="Size.Large"
                                   IconColor="Color.Primary">
                            <MudText Typo="Typo.subtitle1" Style="color: var(--mud-palette-black)">
                                LinkedIn
                            </MudText>
                        </MudButton>
                        <MudButton StartIcon="@Icons.Custom.Brands.WhatsApp"
                                   Href="https://wa.link/z4iq31"
                                   Target="_blank"
                                   Size="Size.Large"
                                   IconSize="Size.Large"
                                   IconColor="Color.Primary">
                            <MudText Typo="Typo.subtitle1" Style="color: var(--mud-palette-black)">
                                WhatsApp
                            </MudText>
                        </MudButton>
                    </MudButtonGroup>
                </MudItem>
                <MudItem lg="4" Class="d-flex justify-end">
                    <MudImage Src="./images/DevelopmentPurple.gif"
                              Height="150"
                              Width="150"
                              Class="pa-5" />
                </MudItem>
            </MudGrid>
            <MudElement HtmlTag="div" Class="d-flex align-end">
                <MudText Align="Align.Start" Typo="Typo.body2" Style="color: var(--mud-palette-black)">
                    Copyright 2024. All rights reserved Bryan Sanchez Ortiz
                </MudText>
            </MudElement>
        </MudElement>
        <MudScrollToTop>
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
        </MudScrollToTop>
    </MudMainContent>
</div>

@code {
    private MudTheme _theme = new();

    private bool _isDarkMode = true;
}
